@page "/"
@inject IJSRuntime Js;

<section class="report-layout">

    <section class="report-layout__upload flex-h-center">
        <Upload UploadText="Upload Files" Submit="ParseData"></Upload>
    </section>

    <section class="report-layout__winner flex-h-center">
        @if (ClassRooms.Any() && ClassRooms.Count() > 1)
        {
            <h1 class="center-text">@HighestPerformingCLass.Name had the highest class average!!</h1>
        }
    </section>

    <section class="report-layout__classes">
        @foreach (var c in ClassRooms.OrderByDescending(x => x.ClassAverage))
        {
            <MudTooltip Text="Click to see individual grades" Placement="Placement.Top">
                <ClassRoom Name="@c.Name"
                           Average="@c.ClassAverage"
                           StudentsNotUsed="@c.NameOfStudentsNotUsedOnTest"
                           Ratio="(c.StudentsUsedToCalculateReport, c.StudentsWithinClass)"
                           Class="@IsWinner(c.ClassAverage)"
                           OnClick="@(() => ShowClassScores(c))">
                </ClassRoom>
            </MudTooltip>

        }
    </section>

    <section class="report-layout__export flex-h-center">
        @if (ClassRooms.Any())
        {
            <MudButton OnClick="SaveToTextFile" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Medium">Save</MudButton>
        }
    </section>

    <section class="report-layout__class-scores">
        @if (ClassScores.Any())
        {
            <MudText Typo="Typo.h4" Class="flex-h-center">@SelectedClass.Name</MudText>
            <ClassRoomScoreChart Scores="ClassScores"></ClassRoomScoreChart>
        }
    </section>
    
    <div id="end"></div>

</section>


