@page "/"
@using ReportGenerator.Models

<section class="report-layout">
    <section class="report-layout__upload">
        <Upload UploadText="Upload Files" Submit="ParseData"></Upload>
    </section>
    <section class="report-layout__classes">
        @foreach (var classRoom in classRooms.OrderByDescending(x => x.ClassAverage))
        {
            <Card Title="@classRoom.Name" Class="thick-border-inverse">
                <div class="sub-header">@classRoom.Name scored an average of <span class="c-mp">@classRoom.ClassAverage</span></div>

                <div class="grid gap-10">
                    <div>A.</div>
                    <div>
                        @classRoom.StudentsUsedToCalculateReport/@classRoom.StudentsWithinClass students where used to calculate this report
                    </div>
                </div>

                <Gauge Value="@classRoom.ClassAverage"></Gauge>
                
                <div>
                    @if (classRoom.NameOfStudentsNotUsedOnTest.Any())
                    {
                        <div class="grid gap-10">
                            <div>B.</div>
                            <div>
                                Students discarded from consideration
                            </div>
                        </div>
                        <ol class="ml-38">
                            @foreach (var student in classRoom.NameOfStudentsNotUsedOnTest)
                            {
                                <li>@student</li>
                            }
                        </ol>
                    }
                </div>
            </Card>
        }
    </section>
    <section class="report-layout__stats"></section>
</section>
